<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SATIC - Sistema de Alocação de Turmas do Instituto de Computação</title>
    <link rel="stylesheet" href="../style/estilizacao.css">

</head>

<h1>Este é um exemplo de h1</h1>
<h2>Este é um exemplo de h1</h2>   
<h3>Este é um exemplo de h1</h3>

<body>

    <h1>Este é um exemplo de h1</h1>
    <h2>Este é um exemplo de h1</h2>
    <h3>Este é um exemplo de h1</h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam dolor esse? Quos autem voluptatem debitis ratione? Minima qui tenetur quam omnis corrupti voluptatibus, amet vero, eveniet architecto optio dicta!</p>

</body>

</html>